<div class="container">
  <div class="row">
    <% if @tweet.isbn %>
      <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
    <% end %>
  </div>
  
  <h4 class="page-title mt-3">つぶやき</h4>
  <div class="row ml-3">
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <th style="width: 15%">投稿者</th>
          <td style="width: 20%">
            <%= link_to edit_admin_user_path(@tweet.user.id) do %>
              <%= @tweet.user.name %>
            <% end %>
          </td>
          <th>投稿日</th>
          <td><%= @tweet.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>つぶやき</th>
          <td colspan="3"><%= render_tweet_with_hashtags(@tweet.tweet_content) %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "つぶやきを削除する", admin_tweet_path(@tweet.id), method: :delete, "data-confirm" => "つぶやきを削除しますか？", class: "btn btn-danger" %> </td>
        </tr>
      </table>
    </div>
  </div>
  
</div>