<!--reading_listsの一覧-->
<!--条件分岐確認済み-->
<div class="container-fluid">
  <div class="row flex-row">
    <% if params[:user_name] %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
       </div>
    <% end %>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if @user == current_user %>
          あなたが読みたい本
        <% else %>
          <%= @user.name %>さんの読みたい本
        <% end %>
      </h4>
      
      <% if @reading_lists.present? %>
        <table class="table table-sm">
          <thead class="text-center">
            <tr>
              <th></th>
              <th style="width:10%"></th>
              <th style="width:20%">タイトル</th>
              <th style="width:20%">著者</th>
              <th class="d-none d-sm-block" style="width:50%">説明</th>
            </tr>
          </thead>
          <% @reading_lists.each do |list| %>
            <% book = search_book(list.isbn) %>
            <tbody>
              <tr>
                <% if @user == current_user %>
                  <td style="width: 5%">
                    <%= link_to book_reading_list_path(id: list.id, book_id: list.isbn), method: :delete, style: "color: black" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </td>
                <% end %>
                <td>
                  <%= link_to book_path(book.isbn) do %>
                    <%= image_tag(book['small_image_url']) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(book.isbn) do %>
                    <%= book['title'] %>
                  <% end %>
                </td>
                <td>
                  <%= link_to books_search_path(author: book['author']) do %>
                    <%= book['author'] %>
                  <% end %>
                </td>
                <td class="d-none d-sm-block"><%= book['item_caption'] %></td>

              </tr>
            </tbody>
          <% end %> <!--readed_books.each end-->
        </table>
        <%= paginate @reading_lists, theme: "twitter-bootstrap-4" %>
      <% else %> <!--if @readed_books.nil-->
        <p class="ml-2">読みたい本がまだありません</p>
      <% end %> <!--if readed_books.present? end-->
    </div> <!--col-md-8 end-->
  </div> <!--row end-->
</div> <!--container-fluid end-->