<!--reading_listsの一覧-->
<!--条件分岐確認済み-->
<div class="container-fluid">
  <div class="row">
    <% if params[:user_name] %>
      <div class="col-md-3">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
       </div>
    <% end %>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if @user == current_user %>
          あなたが読みたい本一覧
        <% else %>
          <%= @user.name %>さんの読みたい本一覧
        <% end %>
      </h4>
      
      <% if @reading_lists.present? %>
        <table class="table table-sm">
          <thead>
            <tr>
              <th style="width:10%"></th>
              <th style="width:20%">タイトル</th>
              <th style="width:10%">著者</th>
              <th style="width:30%">本の概要</th>
              <% if @user == current_user %>
              <% end %>
            </tr>
          </thead>
          <% @reading_lists.each do |reading_list| %>
            
            <% book = RakutenWebService::Books::Book.search(isbn: reading_list.isbn, outOfStockFlag: 1).first %>
            <tbody>
              <tr>
                <td class="text-center">
                  <%= link_to book_path(book.isbn) do %>
                    <%= image_tag(book['small_image_url']) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(book.isbn) do %>
                    <%= book['title'] %>
                  <% end %>
                </td>
                <td><%= book['author'] %></td>
                <td><%= book['item_caption'] %></td>
              </tr>
            </tbody>
          <% end %> <!--readed_books.each end-->
        </table>
      <% else %> <!--if @readed_books.nil-->
        <p>読みたい本がありません</p>
      <% end %> <!--if readed_books.present? end-->
    </div> <!--col-md-8 end-->
  </div> <!--row end-->
</div> <!--container-fluid end-->