<!--本詳細のテンプレ-->
<div class="col-md-3 text-center">
  <%= image_tag(book['large_image_url']) %><br>
  <%= link_to "おかいものページ(RakutenBooks)", book['item_url'], style: "display: inline-block; color: green", class: "border border-success rounded p-2 mt-3 small-text" %>
</div>
    
<div class="col-md-9">
  <table class="table table-borderless">
    <tr>
      <!--<th style="width: 20%">タイトル</th>-->
      <td>
        <%= link_to book_path(book.isbn) do %>
          <%= book['title'] %>
        <% end %>
      </td>
    <tr>
      <!--<th>本の作者</th>-->
      <td>
        <%= link_to books_search_path(author: book['author']) do %>
          <%= book['author'] %>
        <% end %>
      </td>
    </tr>
    <% if book['item_caption'].present? %>
      <tr>
        <!--<th>本のせつめい</th>-->
        <td><%= book['item_caption'] %></td>
      </tr>
    <% end %>
    <tr>
      <!--<th>発売した日</th>-->
      <td><%= book['sales_date'] %>発売</td>
    </tr>
    <tr>
      <!--<th></th>-->
      <td><%= book_favorites.count %>人がおきにいり</td>
    </tr>
  </table>
</div>