<table class="table table-sm table-responsive">
  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td colspan="1" style:"width: 10%">
          <%= link_to mypage_path(name: comment.user.name) do %>
            <%= comment.user.name %>
          <% end %>
        </td>
        
        <td><%= comment.comment %></td>

        <% if comment.is_a?(ReviewComment) && !current_page?(review_path(review.id)) %>
          <td colspan="2" style="width: 20%"><%= link_to "もとのレビューを見る", review_path(review.id), class: "btn btn-sm btn-info" %></td>
        <% elsif comment.is_a?(TweetComment) && !current_page?(tweet_path(tweet.id)) %>
          <td colspan="2" style="width: 20%"><%= link_to "もとのつぶやきを見る", tweet_path(tweet.id), class: "btn btn-sm btn-info" %></td>
        <% end %>
        
        <% if comment.user == current_user && comment.is_a?(ReviewComment) %>
          <td colspan="1" style="width: 10%"><%= link_to "削除", review_review_comment_path(review, comment), method: :delete, class: "btn btn-danger btn-sm", remote: true %></td>
        <% elsif comment.user == current_user && comment.is_a?(TweetComment) %>
          <td colspan="1" style="width: 10%"><%= link_to "削除", tweet_tweet_comment_path(tweet, comment), method: :delete, class: "btn btn-danger btn-sm", remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>