<div class="d-inline-flex flex-wrap align-items-center">
  <% objects.each do |obj| %>
    <% if obj.isbn.present? %>
      <% book = RakutenWebService::Books::Book.search(isbn: obj.isbn).first %>
        <div class="obj-list thumnail pl-2">
          
            <%= link_to book_path(book.isbn) do %>
              <%= image_tag(book['small_image_url']) %>
            <% end %>
          
        </div>
        <div class="mt-2">
          <%= link_to book_path(book.isbn) do %>
            <%= book['title'].truncate(30) %>
          <% end %>
        </div>
    <% end %> <!--obj.isbn.present done-->
    <div class="mt-2">
      <% if obj.is_a?(Review) %>
        <% if obj.spoiler == false %>
          <%= render_review_with_hashtags(obj.content, 130) %>
          <%= link_to "（続きを見る）", review_path(obj.id), style: "color: #ff7f50" %>
        <% else %>
          <%= link_to review_path(obj.id) do %>
            <p class="spoiler">ネタバレを含みます（クリックして読む）</p>
          <% end %>
        <% end %>
      <% elsif obj.is_a?(Tweet) %>
        <%= render_tweet_with_hashtags(obj.tweet_content, 50) %>
        <%= link_to "（続きを見る）", tweet_path(obj.id), style: "color: #ff7f50" %>
      <% elsif obj.is_a?(FavoriteBook) %>
        
      <% end %>
    </div>
    
  <% end %> <!--each do done-->
</div>