<table class="table">
  <div class="text-center mt-2 mb-2">
    <%= image_tag user.get_profile_image, size:'80x100' %>
  <tr>
  </div>
  <div class="row mt-2 mb-2">
    <% if user_signed_in? && user !=  current_user %>
      <div class="mx-auto">
        <%= render "public/relationships/btn", user: user %>
      </div>
    <% elsif user == current_user %>
      <%= link_to "編集する", users_information_edit_path, class:"btn btn-outline-secondary btn-block"%>
    <% end %>
  </div>
    <th>name</th>
    <td>
      <%= link_to mypage_path(name: user.name) do %>
        <%= user.name %>
      <% end %></td>
  </tr>
  <tr>
    <th>Reviews</th>
    <td>
      <%= link_to reviews_path(user_id: user.id) do %>
        <% if user == current_user %>
          <%= user.reviews.count %>reviews
        <% else %>
          <%= in_release_reviews %>reviews
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>FavoriteBooks</th>
    <td>
      <%= link_to favorite_books_path(user_id: user.id) do %>
        <%= user.favorite_books.count %>books
      <% end %>
    </td>
  </tr>
  <tr>
    <th>RecommenBook</th>
    <td>
      <% if recommenbook.present? %>
        <%= link_to book_path(id: book.isbn) do %>
          <%= book['title'].truncate(28) %>
        <% end %>
      <% else %>
        <p>nothing</p>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>ReadedBooks</th>
    <td>
      <%= link_to readed_books_path(user_id: user.id) do %>
        <%= user.readed_books.count %>books
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Tweets</th>
    <td>
      <%= link_to tweets_path(user_id: user.id) do %>
        <%= user.tweets.count %>tweets
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Likes</th>
    <td>
      <%= link_to likes_path(user_id: user.id) do %>
        <%= user.likes.count %>likes
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Comments</th>
    <td>
      <%= link_to comments_path(user_id: user.id) do %>
        <%= user.review_comments.count + user.tweet_comments.count %>comments
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Follows</th>
    <td>
      <%= link_to user_followings_path(user_id: user.id) do %>
        <%= user.followings.count %>follows
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Followers</th>
    <td>
      <%= link_to user_followers_path(user_id: user.id) do %>
        <%= user.followers.count %>followers
      <% end %>
    </td>
  </tr>
  <!--いちおし本、いいね履歴、コメント履歴、フォロー、フォロワー、好きなジャンルを後で追加-->
</table>