<table class="table">
  <div class="text-center mt-2 mb-2">
    <%= image_tag user.get_profile_image, class: "user-image" %>
    <% if user == current_user %>
      <%= link_to users_information_edit_path do %>
        <%= image_tag 'henshuu.png', class: "edit-btn" %>
      <% end %>
    <% end %>
  </div>
  <tr>
  <div class="row mt-2 mb-2">
    <% if user_signed_in? && user !=  current_user %>
      <div class="mx-auto">
        <%= render "public/relationships/btn", user: user %>
      </div>
    <% end %>
  </div>
    <th style="width: 40%">なまえ</th>
    <td>
      <%= link_to mypage_path(name: user.name) do %>
        <%= user.name %>
      <% end %></td>
  </tr>
  <tr>
    <th>ひとこと</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>レビュー</th>
    <td>
      <%= link_to reviews_path(user_name: user.name) do %>
        <% if user == current_user %>
          <%= user.reviews.where.not(content: [nil,'']).count %> reviews
        <% else %>
          <%= in_release_reviews.count %> reviews
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>ツイート</th>
    <td>
      <%= link_to tweets_path(user_name: user.name) do %>
        <%= user.tweets.count %> tweets
      <% end %>
    </td>
  </tr>
  <tr>
    <th>おきにいりの本</th>
    <td>
      <%= link_to favorite_books_path(user_name: user.name) do %>
        <%= user.favorite_books.count %> books
      <% end %>
    </td>
  </tr>
  <tr>
    <th>すきなジャンル</th>
    <td>
      <%= link_to users_favorite_genres_path(name: user.name) do %>
        <%= user.favorite_genres.count %> genres
      <% end %>
    </td>
  </tr>
  <tr>
    <th>おすすめしたい本</th>
    <td>
      <% if recommenbook.present? %>
        <%= link_to book_path(id: book.isbn) do %>
          <%= book['title'].truncate(28) %>
        <% end %>
      <% else %>
        <p>nothing</p>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>よんだ本</th>
    <td>
      <% if readed_lists_count.nil? %>
        <%= link_to "0books", readed_list_path(user_name: user.name) %>
      <% else %>
        <%= link_to readed_list_path(user_name: user.name) do %>
          <%= readed_lists_count %> books
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>よみたい本</th>
    <td>
      <%= link_to reading_lists_path(user_name: user.name) do %>
        <%= reading_lists.count %> books
      <% end %>
    </td>
  </tr>
  
  <tr>
    <th>いいねしたもの</th>
    <td>
      <%= link_to likes_path(user_name: user.name) do %>
        <%= user.likes.count %> likes
      <% end %>
    </td>
  </tr>
  <tr>
    <th>コメントしたもの</th>
    <td>
      <%= link_to comments_path(user_name: user.name) do %>
        <%= user.review_comments.count + user.tweet_comments.count %> comments
      <% end %>
    </td>
  </tr>
  <tr>
    <th>フォロー</th>
    <td>
      <%= link_to followings_path(user_name: user.name) do %>
        <%= user.followings.count %> follows
      <% end %>
    </td>
  </tr>
  <tr>
    <th>フォロワー</th>
    <td>
      <%= link_to followers_path(user_name: user.name) do %>
        <%= user.followers.count %> followers
      <% end %>
    </td>
  </tr>
</table>