<div class="table-responsive">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" class="d-none d-sm-block"></th>
      <th scope="col" class="text-nowrap">ユーザー</th>
      <th scope="col" class-"text-nowrap">おすすめ</th>
      <th scope="col" class="text-nowrap">レビュー</th>
      <th scope="col" class="text-nowrap">つぶやき</th>
      <th scope="col" class="d-none d-sm-block"></th>
    </tr>
  </thead>
  
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="d-none d-sm-block" style="width: 10%"><%= image_tag user.get_profile_image, class: "follow-user-image" %></td>
        <td>
          <%= link_to mypage_path(name: user.name) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td>
          <% if user.favorite_books.recommend_book.present? %>
            <%= user.favorite_books.recommend_book %>
          <% else %>
            <p class="text-secondary">--</p>
          <% end %>
        </td>
        <td>
          <%= link_to reviews_path(user_name: user.name) do %>
            <%= user.reviews.count %>レビュー
          <% end %>
        </td>
        <td>
          <%= link_to tweets_path(user_name: user.name) do %>
            <%= user.tweets.count %>つぶやき
          <% end %>
        </td>
        <td class="d-none d-sm-block">
          <% if user_signed_in? %>
            <%= render "public/relationships/btn", user: user %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>