<div class="container top-contents">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-lg-12">
        <h1 class="about-top-title">
          RecommenBookって？
        </h1>
        <h5 class="top-text">
          Recommend（おすすめ）とBook（本）をくっつけた造語です
        </h5>
      </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to books_search_path, style: "text-decoration: none;" do %>
      <div class="about-content about1">
        <p class="about-title">好きな本をさがそう<i class="fas fa-book"></i></p>
        <p class="about-text">本を検索して、お気に入りに登録しよう</p>
      </div>
    <% end %>
    <%= link_to reviews_path, style: "text-decoration: none;" do %>
      <div class="about-content about2">
        <p class="about-title">本の感想を語り合おう<i class="fas fa-feather"></i></p>
        <p class="about-text">読んだ本の感想をすぐに共有</p>
      </div>
    <% end %>
  </div>
  
  <div class="row justify-content-center">
    <%= link_to books_search_path, style: "text-decoration: none;" do %>
      <div class="about-content about3">
        <p class="about-title">ランダムでおすすめ<i class="fas fa-random"></i></p>
        <p class="about-text">お気に入りの本を登録すると、<br>ランダムでおすすめの本が表示されるよ</p>
      </div>
    <% end %>
    <%= link_to tweets_path, style: "text-decoration: none;" do %>
      <div class="about-content about4">
        <p class="about-title">気になる本をつぶやく<i class="fas fa-comments"></i></p>
        <p class="about-text">新刊情報、読みたい本、みんなと共有</p>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <p>悪意のある投稿を発見した場合、<br>
      管理人が公開状態を変更することがあります<i class="fas fa-wrench"></i></p>
  </div>
      
    <% else %> <!--if !user_signed_in-->
  
    <div class="col-lg-3 d-none d-lg-block">
      <%= render "public/partial/session", user: @user %>
    </div>
    
    <div class="col-lg-8 offset-md-1">
      <h1 class="about-top-title">
        RecommenBookって？
      </h1>
      <h5 class="top-text">
        Recommend（おすすめ）とBook（本）をくっつけた造語です。
      </h5>
      <div class="row justify-content-center">
        <%= link_to books_search_path, style: "text-decoration: none;" do %>
          <div class="about-content about1">
            <p class="about-title">好きな本をさがそう<i class="fas fa-book"></i></p>
            <p class="about-text">本を検索して、お気に入りに登録しよう</p>
          </div>
        <% end %>
        <%= link_to reviews_path, style: "text-decoration: none;" do %>
          <div class="about-content about2">
            <p class="about-title">本の感想を語り合おう<i class="fas fa-feather"></i></p>
            <p class="about-text">読んだ本の感想をすぐに共有</p>
          </div>
        <% end %>
      </div>
      
      <div class="row justify-content-center">
        <%= link_to books_search_path, style: "text-decoration: none;" do %>
          <div class="about-content about3">
            <p class="about-title">ランダムでおすすめ<i class="fas fa-random"></i></p>
            <p class="about-text">お気に入りの本を登録すると、<br>ランダムでおすすめの本が表示されるよ</p>
          </div>
        <% end %>
        <%= link_to tweets_path, style: "text-decoration: none;" do %>
          <div class="about-content about4">
            <p class="about-title">気になる本をつぶやく<i class="fas fa-comments"></i></p>
            <p class="about-text">新刊情報、読みたい本、みんなと共有</p>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <p>悪意のある投稿を発見した場合、<br>
          管理人が公開状態を変更することがあります<i class="fas fa-wrench"></i></p>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 d-lg-none mt-2">
      <%= render "public/partial/session", user: @user %>
    </div>

  <% end %>
</div>