<div class="container-fluid">
  <div class="row flex-row">
    <% if params[:user_name] %>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-lg-8 col-md-10 offset-md-1 col-sm-12">
      <h4 class="page-title">
        <%= @context[:title] %>
      </h4>
      
      <% if user_signed_in? %>
        <h3 class="text-right">
          <%= link_to new_tweet_path do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </h3>
      <% end %>
      
      <% if @context[:tweets].present? %>
        <%= render 'public/partial/lists', objects: @context[:tweets] %>
        <%= paginate @context[:tweets], theme: 'twitter-bootstrap-4' %>
      <% else %>
        <p>つぶやきがありません</p>
      <% end %>
    </div>
  </div>
</div>