<!--tweetの一覧-->
<div class="container">
  <h4 class="page-title">
    <% if params[:user_id] %>
     <%= @user.name %>さんのつぶやき（新着順）
    <% else %>
     つぶやき（新着順）
    <% end %>
  </h4>
  <h3 class="text-right">
    <%= link_to new_tweet_path do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  </h3>
  
  <div class="row">
    <div class="col">
      <!--user_idの受け渡しがあるとき・ないときの@tweetsの条件はコントローラで設定済み-->
      <!--@tweetsが存在するとき-->
      <% if @tweets.present? %>
        <% @tweets.each do |tweet| %>
          <table class="table table-sm table-light lists">
            <tr>　<!--1行目--> 
              <% if tweet.isbn.present? %>
                <% book = RakutenWebService::Books::Book.search(isbn: tweet.isbn).first %>
                <td rowspan="2" style="width: 8%; padding: 20px">
                  <%= link_to book_path(book.isbn) do %>
                    <%= image_tag(book['small_image_url']) %>
                  <% end %>
                </td>
                
                <th style="width: 10%">タイトル</th>
                <td style="width: 30%">
                  <%= link_to book_path(book.isbn) do %>
                    <%= book['title'].truncate(30) %>
                  <% end %>
                </td>
                
              <% else%>
                <td rowspan="2" style="width: 10%"></td>
                <th style="width: 10%"></th>
                <td style="width: 30%"></td>
                
              <% end %>
              
              <th style="width: 10%">投稿者</th>
              <td style="width: 10%">
                <%= link_to mypage_path(name: tweet.user.name) do %>
                  <%= tweet.user.name %>
                <% end %>
              </td>
              <th style="width: 10%">投稿日</th>
              <td style="width: 15%"><%= tweet.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            
            <tr>　<!--2行目-->
              <th>つぶやき</th>
              <td colspan="3"><%= render_tweet_with_hashtags(tweet.tweet_content, 50) %></td>
              <td colspan="2">
                <%= link_to "詳細を見る", tweet_path(tweet.id), style:"display: inline-block", class:"btn btn-primary btn-sm" %>
                <% if tweet.user == current_user %>
                  <%= link_to "削除する", tweet_path(tweet.id), method: :delete, "data-confirm" => "つぶやきを削除しますか？", style:"display: inline-block", class:"btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th></th>
              <% if user_signed_in? %>
                <td class=<%= "like-" + tweet.id.to_s %> >
                  <%= render "public/likes/tweetbtn", tweet: tweet %>
                </td>
              <% else %>
                <td><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= tweet.likes.count %>いいね</td>
              <% end %>
            </tr>
          </table>
        <% end %>
      
      <!--@tweetsが存在しないとき-->
      <% else %>
        <p>つぶやきがありません</p>
      
      <% end %>
    </div>
  </div>
</div>