<!--つぶやき新規登録-->
<div class="container">
  <% if @book.present? %>
    <div class="row">
      <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col">
      <% if @book.present? %>
        <%= form_with model: @tweet, url: tweets_path(book_id: @book.isbn), method: :post do |tweet| %>
          <%= tweet.hidden_field :isbn, value: @book_isbn %>
          
          <p><i class="fas fa-exclamation-triangle"></i>ツイートはネタバレ投稿禁止です<i class="fas fa-exclamation-triangle"></i></p>
          <p><i class="fas fa-exclamation-triangle"></i>悪意のあるツイートを発見した場合は、管理人が削除する可能性があります<i class="fas fa-exclamation-triangle"></i></p>
          <%= tweet.text_area :tweet_content, size:"100x2" %><br>
          <%= tweet.submit "つぶやきを投稿", class:"btn btn-success mt-2" %>
        <% end %>
      <% else %>
        <%= form_with model: @tweet, url: tweets_path, method: :post do |tweet| %>
          <%= tweet.label :"つぶやく", class:"border border-primary p-2 mt-2 rounded" %><br>
          <%= tweet.text_area :tweet_content, size:"100x2" %><br>
          <%= tweet.submit "ツイートする", class:"btn btn-success mt-2" %>
        <% end %>
        <div class="row">
          <div class="form-group ml-2 mt-5">
            <h5>本さがしてからかく？<i class="fas fa-search-plus"></i></h5>
              <%= form_with url: books_search_path, method: :get do |book| %>
                <%= book.text_field :title, :placeholder =>"タイトルでさがす", class:"mt-2 mb-2", size: "26x1" %>
                <%= book.text_field :author, :placeholder =>"作者でさがす", class:"mb-2", size: "26x1" %>
                <%= book.collection_select(:book_genre_id, Genre.all, :book_genre_id, :name, include_blank: "ジャンルを選ぶ") %>
                <%= book.submit '検索', class:"btn btn-success btn-sm" %>
              <% end %>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>