<!--つぶやき詳細画面-->
<div class="container-fluid">
  <div class="row">
    <% if @tweet.isbn.present? %>
      <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
    <% end %>
  </div>
  
  <h4 class="page-title mt-3">つぶやき</h4>
  <div class="row flex-row ml-1">
    <div class="col-11">
      <%= link_to mypage_path(name: @tweet.user.name) do %>
        @<%= @tweet.user.name %>
      <% end %>
      <% if @tweet.created_at.to_date == Date.today %>
        <%= @tweet.created_at.strftime("%Y/%m/%d/ %p%I：%M") %>
      <% else %>
        <%= @tweet.created_at.strftime("%Y/%m/%d") %>
      <% end %>
    </div>
  </div>
  <div class="row flex-row ml-1 mt-2">
    <div class="col-11">
      <%= render_tweet_with_hashtags(@tweet.tweet_content) %>
    </div>
  </div>
  <div class="row flex-row ml-1 mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <span class=<%= "like-tweet-" + @tweet.id.to_s %> >
          <%= render "public/likes/tweetbtn", tweet: @tweet %>
        </span>
      <% else %>
        <span><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= @tweet.likes.count %>いいね</span>
      <% end %>
      <span>
        <% if @tweet.user == current_user %>
          <%= link_to "削除", tweet_path(@tweet.id), method: :delete, "data-confirm" => "つぶやきを削除しますか？", class:"btn btn-danger btn-sm" %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="row flex-row ml-1 mt-5">
    <div class="col-12">
      <p id="tweetCommentCount">コメント（<%= @comments.count %>件）</p>
      <div class="tweet-comments-index">
        <%= render "public/partial/comments", tweet: @tweet, comments: @comments %>
        <%= paginate @comments, theme: "twitter-bootstrap-4" %>
      </div>
      <% if user_signed_in? %>
        <%= render "public/tweet_comments/form", tweet: @tweet, tweet_comment: @tweet_comment %>
      <% end %>
    </div>
  </div>
</div>