<!--favorite_bookの一覧-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/info', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title"><%= @user.name %>さんのお気に入りの本一覧</h4>
      <% if @favorite_books.present? %>
        <table class="table table-sm mt-2">
          <thead class="text-center">
            <tr>
              <th style="width:10%"></th>
              <th style="width:30%">タイトル</th>
              <th style="width:12%">著　者</th>
              <th style="width:40%">説　明</th>
              <th></th>
            </tr>
          </thead>
          <% @favorite_books.each do |favorite_book|%>
          <% book = RakutenWebService::Books::Book.search(isbn: favorite_book.isbn).first %>
          <tbody>
            <tr>
              <td class="text-center">
                <%= link_to book_path(book.isbn) do %>
                  <%= image_tag(book['small_image_url']) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.isbn) do %>
                  <%= book['title'].truncate(30) %>
                <% end %>
              </td>
              <td><%= book['author'] %></td>
              <td><%= book['item_caption'].truncate(55) %></td>
              <td>
                <%= link_to "お気に入り解除", book_favorite_book_path(id: favorite_book.id, book_id: favorite_book.isbn), method: :delete, class: "btn btn-danger btn-sm" %>
              </td>
              <td>
                
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      <% else %>
        <p>お気に入りの本がありません</p>
      <% end %>
      <%= paginate @favorite_books, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>