<!--favorite_bookの一覧-->
<!--条件分岐確認OK-->
<div class="container-fluid">
  <div class="row flex-row">
    <div class="col-lg-3 d-none d-lg-block"><!--画面左側ブロック　lgの時のみ表示-->
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-lg-8 offset-lg-1 col-md-12 col-sm-12">　<!--画面右側ブロック-->
      <h4 class="page-title">
        <% if @user == current_user %>
          あなたのお気に入り
        <% else %>
          <%= @user.name %>さんのお気に入り
        <% end %>
      </h4>
      
      <% if @favorite_books.present? %>
        <% @favorite_books.each do |favorite_book| %>
        <% book = RakutenWebService::Books::Book.search(isbn: favorite_book.isbn, outOfStockFlag: 1).first %>
        <div class="row flex-row pt-2 mb-3 lists"><!--画面右側の箱の枠全体-->
          <div class="col-lg-1 col-md-1 col-sm-1"><!--画面右側の箱 左の枠-->
            <%= link_to book_path(book['isbn']) do %>
              <%= image_tag(book['small_image_url']) %>
            <% end %>
          </div><!--画面右側の箱　左の枠　終わり-->
          
          <div class="col-lg-10 col-md-12 col-sm-12 flex-column"><!--画面右側の箱　右の枠　要素縦並び-->
            <div>
              <%= link_to book_path(book['isbn']) do %>
                <%= book['title'] %>
              <% end %>
              
              <%= link_to books_search_path(author: book['author']) do %>
                <%= book['author'] %>
              <% end %>
            </div>

            <div><%= book['item_caption'].truncate(55) %></div>
            
            <% if @user == current_user %>　<!--おすすめ登録とお気に入り解除はcurrent_userのみ表示-->
              <div class="row ml-1">
                <%= link_to "おきにいり解除", book_favorite_book_path(id: favorite_book.id, book_id: favorite_book.isbn), method: :delete, class: "btn btn-warning btn-sm mr-2" %>
                
                <% if current_user.favorite_books.where(recommenbook: true).present? && favorite_book.recommenbook %>
                  <%= form_with model: @favorite_book, url: favorite_book_path(favorite_book.id), method: :patch, local: true do |rmbook| %>
                    <%= rmbook.hidden_field :recommenbook, value: false %>
                    <%= rmbook.submit "おすすめ本解除", class: "btn btn-sm btn-danger" %>
                  <% end %> <!--form_with おわり-->
                  
                <% elsif current_user.favorite_books.where(recommenbook: true).blank? %> <!--if current_user recommenbook false-->
                  <%= form_with model: @favorite_book, url: favorite_book_path(favorite_book.id), method: :patch, local: true do |rmbook| %>
                    <%= rmbook.hidden_field :recommenbook, value: true %>
                    <%= rmbook.submit "おすすめ本に登録", class: "btn btn-sm btn-info" %>
                  <% end %> <!--form_with おわり-->
                <% end %> <!--if current_user recommenbook登録おわり-->
              </div>
            <% end %> <!--if @user == current_user おわり-->
            
          </div><!--画面右側の箱　右側　おわり-->
        </div><!--画面右側の箱の枠　おわり-->
        <% end %> <!--@favorite_books.each おわり-->
        
      <% else %> <!--favorite_booksがない場合-->
        <p>おきにいりの本がありません</p>
      <% end %> <!--if favorite_books おわり-->
      
      <%= paginate @favorite_books, theme: 'twitter-bootstrap-4' %>
      
    </div><!--画面右側ブロック終わり-->
  </div><!--row終わり-->
</div>