<div class="container-fluid">
  <h4 class="page-title">レビュー一覧（新着順）</h4>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-borderless">
        <thead class="text-center">
          <tr>
            <th>投稿日</th>
            <th style="width: 20%">書籍タイトル</th>
            <th>ユーザー</th>
            <th style="width: 30%">投稿文</th>
            <th>公開ステータス</th>
            <th>ネタバレ</th>
            <th>詳細を見る</th>
          </tr>
        </thead>
        <% @reviews.each do |review| %>
        <% book = RakutenWebService::Books::Book.search(isbn: review.isbn).first %>
        <tbody>
          <tr>
            <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to book_path(book.isbn) do %>
                <%= book['title'] %>
              <% end %>
            </td>
            <td>
              <%= link_to edit_admin_user_path(review.user.id) do %>
                <%= review.user.name %>
              <% end %>
            </td>
            <td><%= review.content.truncate(100) %></td>
            <td class="text-center">
              <% if review.in_release %>
                <p class="text-success">公開中</p>
              <% else %>
                <p class="text-secondary">下書き</p>
              <% end %>
            </td>
            <td class="text-center">
              <% if review.spoiler %>
                <p class="text-danger">ネタバレを含む</p>
              <% else %>
                <p class="text-info">ネタバレなし</p>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to admin_review_path(review.id) do %>
                詳細を見る
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      
      
      
    </div>
  </div>
</div>