<!--レビュー編集画面-->
<div class="container">
  <div class="row">
    <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
  </div>
  <h4 class="page-title mb-3">レビュー編集</h4>
  <div class="row">
    <div class="col-md-10 table-responsive">
      <%= form_with model: @review, url: review_path(@review), method: :patch do |review| %>
      <table class="table table-borderless">
        <tr>
          <th>投稿者</th>
          <td><%= @review.user.name %></td>
        </tr>
        <tr>
          <th>読み終わった日</th>
          <td><%= review.date_field :readed_at %></td>
        </tr>
        <tr>
          <th>テキスト修正</th>
          <td colspan="3"><%= review.text_area :content, rows: "5", style: "width: 100%", maxlength: "500" %></td>
        </tr>
        <tr>
          <th>5段階評価</th>
          <td>
            <div class="form-group" id="star">
              <%= review.label :rate, "5段階評価" %>
              <%= review.hidden_field :rate, id: :review_star, class: 'form-control' %>
              <div id="post_raty"></div>
            </div>
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#post_raty');
                if (elem == null) return;
          
                elem.innerHTML = ""
                let opt = {  
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: "<%= @review.rate %>",
                  scoreName: 'review[rate]',
                };
                raty(elem, opt);
              });
            </script>
          </td>
        </tr>
        <tr>
          <th>公開ステータス</th>
          <td>
            <%= review.radio_button :in_release, true %>
            <%= review.label :in_release, "公開する", { value: "true", style: "display: inline-block;"} %><br>
            <%= review.radio_button :in_release, false %>
            <%= review.label :in_release, "下書きにする", { value: "false", style: "display: inline-block;"} %><br>
          </td>
        </tr>
        <tr>
          <th>ネタバレチェック</th>
          <td>
            <%= review.check_box :spoiler %>
            <%= review.label :spoiler, "ネタバレを含む" %><br>
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= review.submit "変更", class: "btn btn-success btn-sm" %>
            <% if @review.user == current_user %>
              <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "レビューを削除しますか？", class:"btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>