<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <% @reviews.each do |review| %>
        <% isbn = review.isbn %>
        <% book = RakutenWebService::Books::Book.search(isbn: isbn).first %>
        <table class="table table-sm table-borderless">
          <tr>
            <th>タイトル</th>
            <td colspan="3"><%= book['title'] %></td>
          </tr>
          <tr>
            <th style="width: 20%">投稿者</th>
            <td><%= review.user.name %></td>
            <th style="width: 20%">読み終わった日</th>
            <td><%= review.readed_at&.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>レビュー</th>
            <td colspan="3"><%= review.content.truncate(50) %></td>
            <!--長文の場合の省略方法と、「ネタバレを読む」の場合の編みかけ方法を後で設定する-->
          </tr>
          <tr>
            <th></th>
            <td>
              <%= link_to "詳細を見る", review_path(review.id), class:"btn btn-primary btn-sm" %>
              <% if review.user == current_user %>
                <%= link_to "編集する", edit_review_path(review.id), class:"btn btn-success btn-sm"%>
                <%= link_to "削除する", review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm" %>
              <% end %>
             </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>