<!--reviewの一覧-->
<div class="container-fluid">
  <div class="row">
    <% if params[:user_name] %>
      <div class="col-md-3">
        <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_books_count: @readed_books_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
      </div>
    <% end %>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if user_signed_in? %>
          <% if params[:user_name].present? && params[:user_name] == current_user.name %>
            あなたのレビュー
          <% elsif params[:user_name].present? && params[:user_name] != current_user.name %>
            <%= @user.name %>さんのレビュー（新着順）
          <% elsif params[:book_id].present? %>
            <%= @book['title'].truncate(20) %>のレビュー（新着順）
          <% else %>
            レビュー（新着順）
          <% end %>
          
        <% elsif !user_signed_in? %>
          <% if params[:user_name].present? %>
            <%= @user.name %>さんのレビュー（新着順）
          <% elsif params[:book_id].present? %>
            <%= @book['title'].truncate(20) %>のレビュー（新着順）
          <% else %>
            レビュー（新着順）
          <% end %>
        <% end %>
      </h4>
      
      <div class="table-responsive">
        <% if user_signed_in? %>
        
          <% if params[:user_name].present? && params[:user_name] == current_user.name %>
          
            <% if @my_reviews.present? %>
              <%= render 'public/partial/lists', objects: @my_reviews %>
              <%= paginate @my_reviews, theme: 'twitter-bootstrap-4' %>
            <% else %>
              <p>レビューがありません</p>
            <% end %>
            
          <% elsif params[:user_name].present? && params[:user_name] != current_user.name %>
          
            <% if @user_reviews.present? %>
              <%= render 'public/partial/lists', objects: @user_reviews %>
              <%= paginate @user_reviews, theme: 'twitter-bootstrap-4' %>
            <% else %>
              <p>レビューがありません</p>
            <% end %>
            
          <% elsif params[:book_id].present? %>
          
            <%= render 'public/partial/lists', objects: @book_reviews %>
            <%= paginate @book_reviews, theme: 'twitter-bootstrap-4' %>
          
          <% else %>
          
            <% if @reviews.present? %>
              <%= render 'public/partial/lists', objects: @reviews %>
              <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
            <% else %>
              <p>レビューがありません</p>
            <% end %>
            
          <% end %>
        
        <% elsif !user_signed_in? %>
        
          <% if params[:user_name].present? %>
          
            <% if @user_reviews.present? %>
              <%= render 'public/partial/lists', objects: @user_reviews %>
              <%= paginate @user_reviews, theme: 'twitter-bootstrap-4' %>
            <% else %>
              <p>レビューがありません</p>
            <% end %>
            
          <% elsif params[:book_id].present? %>
          
            <%= render 'public/partial/lists', objects: @book_reviews %>
            <%= paginate @book_reviews, theme: 'twitter-bootstrap-4' %>
            
          <% else %>
          
            <% if @reviews.present? %>
              <%= render 'public/partial/lists', objects: @reviews %>
              <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
            <% else %>
              <p>レビューがありません</p>
            <% end %>
            
          <% end %>
          
        <% end %>
      </div> <!--table end-->
    </div> <!--col-md-8 end-->
  </div> <!--row end-->
</div> <!--container-fluid end-->