<!--レビュー作成画面-->
<div class="container">
  <!--<h4 class="page-title">レビュー投稿</h4>-->
  <div class="row">
    <%= render 'public/books/show', book: @book, book_favorites: @book_favorites %>
  </div>
    
  <div class="row">
    <div class="col">
      <%= form_with model: @review, url: book_reviews_path(@book.isbn) do |review| %>
        <%= review.hidden_field :isbn, value: @book_isbn %>
        <%= review.label :"レビューを書く", class:"border border-primary p-2 mt-2 rounded"%><br>
        <%= review.text_area :content, size:'100x5' %><br>
        <%= review.label :"読み終わった日" %>
        <%= review.date_field :readed_at %><br>
        <%= review.submit "レビューを投稿", class:"btn btn-success mt-2" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p class="border border-primary p-2" style="display:inline-block">読んだ本登録（レビューなし）<i class="fas fa-book"></i></p><br>
      <% if current_user.readed_books.exists?(isbn: @book.isbn) %>
        <p>読み終わった日（登録済み）：<%= @readed_book.readed_at&.strftime("%Y/%m/%d") %></p>
        <%= link_to "読んだ本登録を解除する", book_readed_book_path(id: @book.isbn), method: :delete, style:"display: inline-block", class:"btn btn-danger p-2"%>
      <% else %>
        <%= form_with model: @readed_book, url: book_readed_books_path(@book.isbn), method: :post do |readed|%>
          <%= readed.hidden_field :isbn, value: @book_isbn %>
          <%= readed.date_field :readed_at %><br>
          <%= readed.submit "読んだ本に登録する", class:"btn btn-primary mt-2" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>