<!--レビュー作成画面-->
<div class="container">
  <!--<h4 class="page-title">レビュー投稿</h4>-->
  <div class="row">
    <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
  </div>
    
  <div class="row">
    <div class="col mt-2">
      <% if @readed_book.present? %>
        <p class="border border-primary rounded p-2" style="display:inline-block">再読本の投稿<i class="fas fa-book"></i></p><br>
      <% else %>
        <p class="border border-primary rounded p-2" style="display:inline-block">新規投稿<i class="fas fa-book"></i></p><br>
      <% end %>
      <%= form_with model: @review, url: book_reviews_path(@book.isbn) do |review| %>
        <%= review.hidden_field :isbn, value: @book['isbn'] %>
        
        <!--<%= review.label :"レビューを書く", class:"border border-primary p-2 mt-2 rounded"%><br>-->
        <%= review.text_area :content, size:'100x5' %><br>
        <%= review.label :"読み終わった日" %>
        <%= review.date_field :readed_at %><br>
        
        <%= review.radio_button :in_release, true %>
        <%= review.label :in_release, "公開する", { value:"true", style:"display: inline-block;"} %>
        <%= review.radio_button :in_release, false %>
        <%= review.label :in_release, "下書きにする", { value:"false", style:"display: inline-block;"} %><br>
        
        <%= review.check_box :spoiler %>
        <%= review.label :spoiler, "ネタバレを含む" %><br>
        <%= review.submit "レビューを投稿", class:"btn btn-success mt-2" %><p>※レビューを投稿すると、自動的に読んだ本リストにも登録されます。</p>
      <% end %>
    </div>
  </div>
</div>