<!--条件分岐確認OK-->
<div class="container-fluid">
  <div class="row flex-row">
    <div class="col-lg-3 d-none d-lg-block">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-lg-8 offset-lg-1">
      <h2 class="page-title">
        <% if @user == current_user %>
          あなたが読んだ本
        <% else %>
          <%= @user.name %>さんが読んだ本
        <% end %>
      </h2>
      
      <% if @readed_lists.present? %>
        <table class="table table-sm">
          <thead class="text-center">
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 30%">タイトル</th>
              <th style="width: 20%">著者</th>
              <th>読み終わった日</th>
              <% if @user == current_user %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <% @readed_lists.each do |readed| %>
          <% book = search_book(readed.isbn) %>
          <tbody>
            <tr>
              <td>
                <%= link_to book_path(book.isbn) do %>
                  <%= image_tag(book['small_image_url']) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.isbn) do %>
                  <%= book['title'] %>
                <% end %>
              </td>
              <td>
                <%= link_to books_search_path(author: book['author']) do %>
                  <%= book['author'] %>
                <% end %>
              </td>
              <td class="text-center">
                <% if readed.readed_at.present? %>
                  <%= readed.readed_at&.strftime('%Y/%m/%d') %>
                <% else %>
                  不明
                <% end %>
              </td>
              <td>
                <% if @user == current_user %>
                  <%= button_to "削除", { controller: "reviews", action: "delete_readed", readed_id: readed.id }, method: :delete, data: { confirm: "読んだ本を削除しますか？（同時にレビューを投稿した場合、それも削除されます。レビュー編集から読んだ日付を変更できます）" }, class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        
        <%= paginate @readed_lists, theme: "twitter-bootstrap-4" %>
      
      <% else %>
        <p class="ml-2">読んだ本がまだありません</p>
      <% end %>
      
    </div>
  </div>
</div>

