<!--レビュー詳細画面-->
<div class="container">
  <div class="row">
    <%= render 'public/partial/bookdetail', book: @book, book_favorites: @book_favorites %>
  </div>
  
  <h4 class="page-title mt-3">レビュー</h4>
  <div class="row flex-row ml-1">
    <div class="col-11">
      <% if @review.user.is_active %>
        <%= link_to mypage_path(name: @review.user.name) do %>
          @<%= @review.user.name %>
        <% end %>
      <% else %>
        @退会したユーザー
      <% end %>

      <% if @review.created_at.to_date == Date.today %>
        <%= @review.created_at.strftime("%Y/%m/%d/ %p%I：%M") %>
      <% else %>
        <%= @review.created_at.strftime("%Y/%m/%d") %>
      <% end %>
    </div>
  </div>
  
  <div class="row flex-row ml-1">
    <div class="col-11">
      <span style="color: green;">読み終わった日　</span>
       <% if @review.readed_at.present? %>
          <%= @review.readed_at&.strftime("%Y/%m/%d") %>
        <% else %>
          不明
        <% end %>
    </div>
  </div>
  
  <div class="row flex-row ml-1 mt-2">
    <div class="col-11">
      <%= render_review_with_hashtags(@review.content) %>
      <%= render "static_rate",review: @review %>
    </div>
  </div>
  <div class="row flex-row ml-1 mt-2">
    <div class="col-11">
      <% if user_signed_in? %>
        <span class=<%= "like-review-" + @review.id.to_s %> >
          <%= render "public/likes/reviewbtn", review: @review %>
        </span>
      <% else %>
        <span><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= @review.likes.count %>いいね</span>
      <% end %>
      <span>
        <% if @review.user == current_user %>
          <%= link_to "編集", edit_review_path(@review.id), class:"btn btn-primary btn-sm"%>
          <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "レビューを削除しますか？", class:"btn btn-danger btn-sm" %>
        <% end %>
      </span>
    </div>
  </div>
  
  <div class="row flex-row ml-1 mt-5">
    <div class="col-12">
      <p id="reviewCommentCount">コメント（<%= @comments.count %>件）</h3>
      <div class="review-comments-index">
        <%= render "public/partial/comments", review: @review, comments: @comments %>
        <%= paginate @comments, theme: "twitter-bootstrap-4" %>
      </div>
      <% if user_signed_in? %>
        <%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>
      <% end %>
    </div>
  </div>
</div>