<!--レビュー詳細画面-->
<div class="container">
  <div class="row">
    <%= render 'public/books/show', book: @book, book_favorites: @book_favorites %>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <th style="width: 10%">投稿者</th>
          <td>
            <%= link_to mypage_path(name: @review.user.name) do %>
              <%= @review.user.name %>
            <% end %>
          </td>
          <th>投稿日</th>
          <td><%= @review.created_at.strftime('%Y/%m/%d') %></td>
          <th style="width: 20%">読み終わった日</th>
          <td><%= @review.readed_at&.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <th>レビュー</th>
          <td colspan="3"><%= @review.content %></td>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "編集する", edit_review_path(@review.id), class:"btn btn-primary btn-sm"%>
              <%= link_to "削除する", review_path(@review.id), method: :delete, "data-confirm" => "レビューを削除しますか？", class:"btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
          <th></th>
          <td class=<%= "like-" + @review.id.to_s %> >
            <%= render "public/likes/reviewbtn", review: @review %>
          </td>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</div>