<!--検索結果の本一覧-->
  <table class="table table-hover table-inverse">
    
    <thead>
      <tr>
        <th></th>
        <th>タイトル</th>
        <th>著者</th>
        <th>本の概要</th>
      </tr>
    </thead>
    
    <% books.each do |book| %>
    <tbody>
      <tr>
        <td>
          <%= link_to book_path(book.isbn) do %>
            <%= image_tag(book['medium_image_url']) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.isbn) do %>
            <%= book['title'] %>
          <% end %>
          </td>
        <td><%= book['author'] %></td>
        <td><%= book['item_caption'] %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  
  <%= paginate books_page %>