    <div class="col-md-3 text-center">
      <%= image_tag(book.large_image_url) %><br>
    </div>
    
    <div class="col-md-9">
      <table class="table table-borderless">
        <tr>
          <th style="width: 20%">タイトル</th>
          <td>
            <%= link_to book_path(book.isbn) do %>
              <%= book.title %>
            <% end %>
          </td>
        <tr>
          <th>著者</th>
          <td>
            <%= book.author %>
          </td>
        </tr>
        <tr>
          <th>本の概要</th>
          <td><%= book.item_caption %></td>
        </tr>
        <tr>
          <th>発売日</th>
          <td><%= book.sales_date %></td>
        </tr>
        <tr>
          <th>お気に入り登録</th>
          <td><%= book_favorites.count %>人</td>
        </tr>
      </table>
    </div>
    
  <div class="col">
    <%= link_to "商品の購入ページへ（楽天ブックス）", book.item_url, style:"display: inline-block; color: green", class:"text-center border border-success rounded p-2 mt-3" %>
    
  </div>
    