<div class="search-box">
  <%= form_with url: books_search_path, method: :get do |book| %>
    <div class="form-group">
      <%= book.text_field :keyword, class:"form-control" %>
      <%= book.collection_select(:book_genre_id, Genre.all, :book_genre_id, :name, include_blank: "--") %>
      <%= book.submit '検索', class:"form-control btn btn-success" %>
    </div>
    
  <% end %>
  
  <% if @books.present? %>
    <%= render 'book', books: @books %>
  <% end %>
</div>