<!--レビューとツイートのコメントを両方表示-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h4 class="page-title">
        <% if @user == current_user %>
          あなたのコメント一覧
        <% else %>
          <%= @user.name %>さんのコメント一覧
        <% end %>
      </h4>

      <% if @comments.present? %>
        <!--<%= render 'public/partial/comments', comments: @comments, review: @review, tweet: @tweet %>-->
        <table class="table table-sm table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>コメント</th>
              <th>投稿日</th>
            </tr>
          </thead>
          <% @comments.each do |comment| %>
            <tbody>
              <% if comment.is_a?(ReviewComment) %>
              <tr>
                <td>
                  <%= link_to review_path(comment.review.id) do %>
                    <%= comment.review.content.truncate(20) %>
                  <% end %>
                </td>
                <td><%= comment.comment %></td>
                <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <% elsif comment.is_a?(TweetComment) %>
              <tr>
                <td>
                  <%= link_to tweet_path(comment.tweet.id) do %>
                    <%= comment.tweet.tweet_content.truncate(20) %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>コメントはありません</p>
      <% end %>
    </div>
  </div>
</div>