<!--レスポンシブ対応確認OK-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <p class="page-title">ユーザー編集</p>
      <%= form_with model: @user, url: users_information_path, method: :patch, local: true do |user| %>
        <div class="form-group">
          <%= user.label :name, "ユーザーネーム", class: "form-title" %>
          <%= user.text_field :name, class: "form-control", id: 'edit_name_input' %>
        </div>
        <div class="form-group">
          <%= user.label :email, "メールアドレス", class: "form-title" %>
          <%= user.email_field :email, class: "form-control", id: 'edit_email_input' %>
        </div>
        <div class="form-group">
          <%= user.label :profile_image, "プロフィール写真", class: "form-title" %><br>
          <%= image_tag(@user.get_profile_image, class: "edit-user-image") if @user.get_profile_image.present? %>
          <%= user.file_field :profile_image, class: "form-control-file profile-image", accept: "image/*" %>
        </div>

        <div class="checkbox">
          <%= user.label :genre_ids, "好きなジャンル", class: "form-title" %><br>
          <% Genre.all.each do |genre| %>
            <label>
              <%= user.check_box :genre_ids, { multiple: true }, genre.id, nil %>
              <%= genre.name %>
            </label>
          <% end %>
        </div>
        <div class="form-group">
          <%= user.label :introduction, "ひとこと（20文字まで）", class: "form-title" %>
          <%= user.text_field :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= user.submit "変更する", class: "btn btn-success" %>
          <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>