<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-title">会員情報編集</h2>
      <%= form_with model: @user, url: users_information_path, method: :patch, local: true do |user| %>
      <table class="table table-borderless">
        <tr>
          <th style="width: 20%">ユーザーネーム </th>
          <td><%= user.text_field :name, class: "form-control" %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= user.email_field :email, class: "form-control" %></td>
        </tr>
        <tr>
          <th>プロフィール画像</th>
          <td>
            <%= image_tag @user.get_profile_image, size:'80x100' %>
            <%= user.file_field :profile_image, class: "form-control-file profile_image mt-2", accept: 'image/*' %> 
          </td>
        </tr>
        <tr>
          <th>好きなジャンル登録</th>
          <td class="checkbox">
            <% Genre.all.each do |genre| %>
              <label>
                <%= user.check_box :genre_ids, { multiple: true }, genre.id, nil %>
                <%= genre.name %>
              </label>
            <% end %>
          </td>
        <tr>
          <th></th>
          <td>
            <%= user.submit "変更を保存", class: "btn btn-success" %>
            <%= link_to "退会する", users_unsubscribe_path, class: "btn btn-danger" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>