<!--mypage-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="page-title">
        <% if @user == current_user %>
          マイページ
        <% else %>
          <%= link_to mypage_path(@user.name) do %>
            <%= @user.name %>
          <% end %>さんのページ
        <% end %>
      </h2>
      
      <% if @user == current_user %>
        <%= render 'public/partial/mypage', objects: @posts, posts: @posts %>
        
      <% else %>
        <h4 class="mypage-title">最近のレビュー</h4>
          <div class="row ml-2">
            <% if @reviews.present? %>
              <%= render 'public/partial/mypage', objects: @reviews, posts: @posts %>
            <% else %>
              レビューがないよ
            <% end %>
          </div>
          
        <h4 class="mypage-title">Recent Tweets</h4>
          <div class="row ml-2">
            <% if @tweets.present? %>
              <%= render 'public/partial/mypage', objects: @tweets, posts: @posts %>
            <% else %>
             No Tweet
            <% end %>
          </div>
          <div class="text-right mt-2">
            <%= link_to tweets_path(user_name: @user.name), style: "color: black;" do %>
              ＞＞<%= @user.name %>'s Tweets index
            <% end %>
          </div>
          
        <h4 class="mypage-title">Recent Favorite Books</h4>
          <div class="row ml-2">
            <% if @favorite_books.present? %>
              <%= render 'public/partial/mypage', objects: @favorite_books, posts: @posts %>
            <% else %>
              No Favorite Book
            <% end %>
          </div>
          <div class="text-right mt-2">
            <%= link_to favorite_books_path(user_name: @user.name), style: "color: black;" do %>
              ＞＞<%= @user.name %>'s Favorite Books index
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>