<!--mypage-->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <%= render 'public/partial/userinfo', user: @user, book: @book, reading_lists: @reading_lists, readed_lists_count: @readed_lists_count, recommenbook: @recommenbook, in_release_reviews: @in_release_reviews %>
    </div>
    <div class="col-lg-8 col-md-8 offset-md-1 col-sm-12">
      <h2 class="page-title">
        <% if @user == current_user %>
          マイページ
        <% else %>
          <%= link_to mypage_path(@user.name) do %>
            <%= @user.name %>
          <% end %>さんのページ
        <% end %>
      </h2>
      
      <% if @user == current_user %>
        <% if @posts.present? %>
          <%= render 'mypage', objects: @posts, posts: @posts %>
        <% else %>
          フォロー中のユーザーの最新投稿が表示されます
        <% end %>
        
      <% else %>
        <h4 class="mypage-title">ひとこと</h4>
          <div class="row ml-2">
            <% if @user.introduction.present? %>
              <%= @user.introduction %>
            <% else %>
              ひとことがありません
            <% end %>
          </div>
          
        <h4 class="mypage-title">最近のレビュー</h4>
          <div class="row ml-2">
            <% if @reviews.present? %>
              <%= render 'mypage', objects: @reviews, posts: @posts %>
            <% else %>
              レビューがありません
            <% end %>
          </div>
          
        <h4 class="mypage-title">最近のつぶやき</h4>
          <div class="row ml-2">
            <% if @tweets.present? %>
              <%= render 'mypage', objects: @tweets, posts: @posts %>
            <% else %>
             つぶやきがありません
            <% end %>
          </div>
          
        <h4 class="mypage-title">最近のお気に入り</h4>
          <div class="row ml-2">
            <% if @favorite_books.present? %>
              <%= render 'mypage', objects: @favorite_books, posts: @posts %>
            <% else %>
              お気に入りの本がありません
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>