<ul class="navbar-nav ml-auto d-flex">
  <% if admin_signed_in? %>
    <li class="nav-item">
      <%= link_to "レビュー一覧", admin_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "つぶやき一覧", admin_tweets_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
    </li>
    
  <% elsif user_signed_in? %>
  <!--ユーザーログイン時-->
    <li class="nav-item">
      <%= link_to "サイトマップ", about_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to books_search_path, class: "nav-link" do %>
        本をさがす<i class="fas fa-search-plus"></i>
      <% end %>
    </li>
    <li class="nav-item d-none d-lg-block dropdown">
    <!--d-none d-lg-block以上でしか表示しない-->
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      　メニュー
      </a>
      <div class="dropdown-menu nav-item" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "マイページ", mypage_path(current_user.name), class: "dropdown-item", style:"color:gray" %>
        <%= link_to "レビューを見る", reviews_path, class: "dropdown-item", style:"color:gray" %>
        <%= link_to "みんなのつぶやき", tweets_path, class: "dropdown-item", style:"color:gray" %>
      </div>
    </li>
      
    <!--スマートフォン表示の時のみプロフィール別メニュー-->
    <li class="nav-item dropdown d-lg-none">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      　メニュー
      </a>
      <div class="dropdown-menu nav-item" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "自分のプロフィール", mypage_sm_path(current_user.name), class: "dropdown-item", style:"color:gray" %>
        <% if user.present? && user != current_user %>
          <%= link_to "このユーザーのプロフィール", mypage_sm_path(user.name), class: "dropdown-item", style: "color: gray" %>
        <% end %>
        <%= link_to "レビューを見る", reviews_path, class: "dropdown-item", style:"color:gray" %>
        <%= link_to "みんなのつぶやき", tweets_path, class: "dropdown-item", style:"color:gray" %>
      </div>
    </li>
    
    <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        ログアウト<i class="fas fa-sign-out-alt"></i>
      <% end %>
    </li>
    
    
  <% else %>
  <!--どちらもログインしていないとき-->
    <li class="nav-item">
      <%= link_to "サイトマップ", about_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to books_search_path, class: "nav-link" do %>
        本をさがす<i class="fas fa-search-plus"></i>
      <% end %>
    </li>
    <li class="nav-item d-none d-md-block dropdown">
    <!--d-none d-md-blockでmd以上でしか表示しない-->
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        みんなの投稿
      </a>
      <div class="nav-item dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "レビューを見る", reviews_path, class: "dropdown-item", style:"color:gray" %>
        <%= link_to "みんなのつぶやき", tweets_path, class: "dropdown-item", style:"color:gray" %>
      </div>
    </li>
    
        <!--スマートフォン表示の時のみプロフィール別メニュー-->
    <li class="nav-item dropdown d-md-none">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      　メニュー
      </a>
      <div class="dropdown-menu nav-item" aria-labelledby="navbarDropdownMenuLink">
        <% if params[:name].present? %>
          <%= link_to "このユーザーのプロフィール", mypage_sm_path(user.name), class: "dropdown-item", style: "color: gray" %>
        <% end %>
        <%= link_to "レビューを見る", reviews_path, class: "dropdown-item", style:"color:gray" %>
        <%= link_to "みんなのつぶやき", tweets_path, class: "dropdown-item", style:"color:gray" %>
      </div>
    </li>
    
    <li class="nav-item">
      <%= link_to "会員登録", new_user_registration_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>
</ul>
